{
  "env": { "browser": true },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": [1, { "vars": "all", "args": "after-used" }]
  }
}
